@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: "Open Sans", sans-serif;
	background: #fff;
}

.header {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9) !important;
	z-index: 1000;
}

.header ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li .head {
	color: #fff !important;
	background: #d91214;
}

.header li a {
	display: block;
    text-decoration: none;
    padding: 1em;
    color: #d91214;
    width: 50px;
    text-align: center;
    -webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		 -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}

.header li a:hover #main-logo{
	background: #d91214;
	color: #fff;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		 -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}


.divider{
	font-size: 140;
	padding-top: 100px;
}

img {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
  width: 100%;
  height: 70%;
}

.footer {
	text-align: center;
	height: 50px;
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	background: #001f3f;
	color: #fff;
}

#preview {
	text-align: center;
	padding: 5em;
	position: relative;
   	top: 0;
   	width: 88%;
   	margin: 0;
   	left: 0;
   	height: 100%;
   	margin-left: 0;
}

#preview h1 {
	font-size: 5em;
}

#preview p {
	font-size: 2em;
}

#preview h1, #preview p {
	color: #fff;
	background: #001f3f;
	padding: 6px;
	text-transform: uppercase;
	line-height: 2;
	letter-spacing: 3px;
	display: inline;
	white-space: pre;
}

.content {
	margin: 3em;
	margin-top: 2em;
	padding: 6em;
  line-height: 2;
  font-size: 22px;
}


#nav{
    background-color: #DE354C;
	padding-bottom: 100px;
	font-family: "Roboto Condensed", sans-serif;
}

#main-logo{
	font-size: 25px;
	color: white;
	padding-right: 700px;
	padding-left: 50px;
}



.btn {
	/* border: 3px #d91214 solid; */
	color: white;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0.1em 0.1em !important;
	padding-right: 50px;
}


.btn:hover #main-logo:hover{
	opacity: 0.5;
}

.content a {
	text-decoration: none;
	color: #fff;
	background: #001f3f;
	padding: 2px;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		 -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}

.content a:hover {
	opacity: 0.5;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		 -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}

hr { 
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}

::-moz-selection {
    color: #fff;
    background: #001f3f;
}

::selection {
    color: #fff;
    background: #001f3f;
}

.team_member {
  width:100%;
  position:relative;
  overflow:hidden;
  height:250px;
}

.info {
  height:100%;
}

.info img {
  width:100%;
  transition: all .4s ease-out .1s;
   -moz-transition: all .4s ease-out .1s;
   -webkit-transition: all .4s ease-out .1s;
}

.info h5 {
  padding: 10px 10px 0 0;
  margin: 0 0 10px 3px;
  line-height: 1em;
  opacity: 1;
  transition: all .2s ease-out .1s;
   -moz-transition: all .2s ease-out .1s;
   -webkit-transition: all .2s ease-out .1s;
  font-size: 1.125em;
}

.info h6 {
  padding:0 10px 0 0;
  font-size:12px;
  margin:0 0 0 3px;
  line-height:1em;
  text-transform:uppercase;
  color:#999;
  opacity:1;
  transition: all .2s ease-out .1s;
   -moz-transition: all .2s ease-out .1s;
   -webkit-transition: all .2s ease-out .1s;
}

.info_reveal {
  height:100%; 
  transition: all .3s ease-in 0s;
   -moz-transition: all .3s ease-in 0s;
   -webkit-transition: all .23s ease-in 0s;
  position:absolute;
  width:100%;
  left:0;
  top:-100%;
  background: #d91214;
}

.info_reveal h6 {
  padding: 20px 8px 5px 8px;
  line-height: 1.1em;
		margin-bottom: 20px;
		color: #fff;
  font-size: 1em;
}

.info_reveal p {
  padding:0 8px;
  font-size:15px;
  line-height: 1.2em;
  color: #fff;
  font-weight:400;  
}

.info_reveal a {
  color: #fff;
		word-break: break-word;
  text-decoration:none;
}

.info_reveal a:hover {
  color: #fff;
}


.responsive_grid {
 display:block;
 margin-top:-310px;
 padding: 0;
 list-style:none;
 margin-left: 200px;
}

.responsive_grid li {
 cursor:pointer;
 width: 16.66677%;
 padding: 0 30px 10px;
 display:block;
 height:auto;
 float:left;
 margin-bottom:10px;
}

.responsive_grid li:hover .info_reveal,
.responsive_grid li:focus .info_reveal{
 left: 0;
 top:0;
 transition: all .3s ease-out .1s;
   -moz-transition: all .3s ease-out .1s;
   -webkit-transition: all .3s ease-out .1s;
}

.responsive_grid li:hover .info img,
.responsive_grid li:focus .info img {
  width:210%;
  margin-left:-50%;
  transition: all .4s ease-in 0s;
   -moz-transition: all .4s ease-in 0s;
   -webkit-transition: all .4s ease-in 0s;
}

.responsive_grid li:hover .info h5,
.responsive_grid li:focus .info h5,
.responsive_grid li:hover .info h6,
.responsive_grid li:focus .info h6 {
  opacity: 0;
  transition: opacity .2s linear 0s;
   -moz-transition: opacity .2s linear 0s;
   -webkit-transition: opacity .2s linear 0s;
}

.SecHead a {
	text-decoration: none;
	color: #fff;
	background: #001f3f;
	padding: 2px;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		 -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}

.SecHead a:hover {
	opacity: 0.5;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		 -o-transition: all 0.2s linear;
			transition: all 0.2s linear;
}

.SecHead{
	margin: 3em;
	margin-top: 50px;
	padding: 3.5em;
  line-height: 2;
  font-size: 42px;
  text-align: center;
}




h5, h6, .info_reveal a {
  font-family: 'Open Sans', sans-serif;
}


#submit-button{
	color: black;
}