<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="header">
            <ul>
                <li>
                    <a href="#">User Entry</a>
                </li>

                <li>
                    <a class="head" href="#">About</a>
                </li>

                <li>
                    <a href="#">Hospitals</a>
                </li>

                <li>
                    <a href="#">User Info</a>
                </li>

                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
     
        <img
            src="https://cdn.systematic.com/media/g0sj1tbg/hospital-building-001-global.jpg?cropAlias=hero_large&width=992&height=483&quality=80&mode=crop&null"
            alt="alternatetext"
        />
    </body>
</html>
